<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 style="text-align:center">Template Driven Form in Angular.</h1>
  <br>
  <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <label for="">Name</label>
    <input type="text" name="name" ngModel>
    <br>
    <label for="">Age</label>
    <input type="number" name="age" id="" ngModel>
    <br>
    <button>Submit</button>
  </form>
</body>
</html>
<router-outlet></router-outlet>
