<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   
    <div class="container mt-3">
      <div class="row mt-3">
        <form [formGroup]="myForm" (ngSubmit)="submit()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
               </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          </div>
          
          <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  
</body>
</html>
<router-outlet></router-outlet>
