* {
    z-index: 2;
}

/* .bottom-right {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 1;
} */

#chat-box {
    position: fixed;
    bottom: 95px;
    right: 40px;
    width: 300px;
    border-radius: 10px;
}