<div class="card shadow">
    <div class="container">
        <div class="row">
            <h1 class="text-uppercase text-center mt-3">Addmission open for below courses.</h1>
            <h4>Your Courses:</h4>
            <p><strong>BED -</strong> A B.Ed. (Bachelor of Education) is an undergraduate academic degree that qualifies
                graduates to work as teachers in schools.</p>
            <p>The duration of a B.Ed. program varies by country but is usually completed within 2 to 4 years. <a
                    href="">click more</a></p>
            <p><strong>BTC -</strong> BTC is a teacher training program in India, and it is part of the education system
                in states like Uttar Pradesh. It is designed to prepare individuals for teaching at the primary school
                level.</p>
            <p>In many cases, individuals who have completed the BTC course are eligible to apply for government
                teaching vacancies, particularly those advertised by the state education departments.
                <a href="">click more</a>
            </p>
            <p><strong>BCA -</strong> BCA is typically a three-year undergraduate program offered by universities and colleges around the world.</p>
            <p>The BCA curriculum covers a range of subjects related to computer science, programming languages, software development, web development, database management, networking, and other relevant areas.
                <a href="">click more</a>
            </p>
            <p><strong>MCA -</strong>MCA is typically a three-year postgraduate program offered by universities and colleges worldwide. </p>
            <p>The typical eligibility criteria for admission to an MCA program include completing a bachelor's degree in computer applications (BCA), computer science, or a related field. Some programs may also accept graduates from other disciplines with a strong foundation in mathematics and computer science. <a href="">click more</a></p>
        </div>
    </div>
</div>