<div class="card shadow">
    <div class="container">
        <div class="row">
            <h1 class="text-uppercase text-center mt-3">Student Profile Preview</h1>
            <h4>User Id : a52z</h4>
            <p>Name : Anand Vishwakarma</p>
            <p>Father Name : Devnath Vishwakarma</p>
            <p>Mother Name : Renu Vishwakarma</p>
             
            <p>Phone : +91- 9512682354</p>
            <p>Gender : Male</p>
            <p>Address : Jalalabad Ghazipur - 275202</p>
            <p><strong>Total</strong> : 12800 + GST 18% = 15104</p>

            <button class="btn btn-sm w-25  m-3 d-block mx-auto  btn-primary">Pay</button>
        </div>
    </div>
</div>

