<div class="container">
    <div class="row">
        <div class="card shadow w-50 mx-auto mt-3 d-flex justify-content-center align-items-center">
            <h2 class="card-title text-center mt-3">Contact US</h2>
            <p>Don’t click on that random text. It’s a scam.</p>
            <div class="col-md-12 col-lg-12 col-sm-12  mt-3">
                <form action="">
                    <div class="mb-3">
                        <label class="form-label" for="">Name*</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Email*</label>
                        <input class="form-control" type="password">
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 200px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                    <button class="btn btn-primary mb-3">Get in touch</button>
                </form>
            </div>

        </div>
    </div>
</div>