<div class="container py-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4 d-inline">

            <div class="card" id="chat1" style="border-radius: 15px; width: 18rem ;">
                <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                    style="border-top-left-radius: 15px; border-top-right-radius: 15px;">

                    <p class="mb-0 fw-bold">Live chat</p>
                </div>
                <div class="card-body">

                    <!-- Chat messages -->
                    <div class="d-flex flex-row justify-content-start mb-4">

                        <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237, .2);">
                            <p class="small mb-0">Hello and thank you for visiting. Please click the below button.
                            </p>
                        </div>
                    </div>

                    <!-- Your reply -->
                    <div class="d-flex flex-row justify-content-end mb-4">
                        <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                            <p class="small mb-0">Thank you! I really like your product.</p>
                        </div>

                    </div>

                    <!-- Textarea for typing messages -->
                    <div class="form-outline">
                        <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                        <label class="form-label" for="textAreaExample">Type your message</label>
                    </div>
                    <!-- Submit button -->
                    <button type="button" class="btn btn-info text-light btn-sm mt-3">Send</button>

                </div>
            </div>

        </div>
    </div>

</div>