/* * {
    z-index: 2;
}

.bottom-right {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 1;
}

#chat-box {
    position: fixed;
    bottom: 95px;
    right: 40px;
    width: 300px;
    border-radius: 10px;
}
 */

 .border-danger {
    position: relative;
}

.container {
    position: relative;
}



.card {
    position: fixed;
    bottom: 120px;
    right: 40px;
    border-radius: 15px;
}