<div class="container">
    <div class="row">
        <div class="card shadow w-50 mx-auto mt-3 d-flex justify-content-center align-items-center">
            <h2 class="card-title text-center mt-3">Register</h2>
            <p>Create your account. It's free and only takes a minute.</p>
            <div class="col-md-12 col-lg-12 col-sm-12  mt-3">
                <form action="">
                    <div class="mb-3">
                        <label class="form-label" for="">Name*</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Email*</label>
                        <input class="form-control" type="email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Username*</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Password*</label>
                        <input class="form-control" type="password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Confirm Password*</label>
                        <input class="form-control" type="password">
                    </div>
                    <div class="mb-3 justify-content-start d-flex">

                        <label class="form-check-lable" for="">Gender*</label>
                        <div class="ms-3">

                            <input class="form-check-input" name="gender" type="radio">
                            <label for="">Male</label>
                        </div>
                        <div class="ms-3">
                            <input class="form-check-input" name="gender" type="radio">
                            <label for="">Female</label>
                        </div>
                    </div>

                    <button class="btn btn-primary mb-3">Register</button>
                </form>
            </div>

        </div>
    </div>
</div>